.shadTable__wrapper {
    @apply rounded-md border;

    .header {
        @apply bg-[#F3F4F6];

        .head {
            @apply px-4 py-2 font-semibold text-gray-700;
        }
    }

    .row {
        &:nth-child(even) {
            background-color: #f9fafb; 
        }
        &:hover {
            background-color: #32736A; 
            color: #ffffff; 

            .cell {
                color: #ffffff; 
            }
        }

        .cell {
            padding: 0.5rem 1rem; 
            color: #4b5563; 
            transition: color 0.2s ease; 
        }
    }
}
